
<div  class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
    <div  *ngFor="let starship of starshipslist" fxFlex="20%">
      <mat-card-title >
        <mat-card-title >{{starship.name}}</mat-card-title>
        <mat-card-subtitle >{{starship.model}}</mat-card-subtitle>
      </mat-card-title>
      <mat-card-content>
        <p >
          {{starship.manufacturer}}
        </p>
      </mat-card-content>
     
    </div>
    
  </div>
  <div>
    <!--TODO add pagination, the api tr 10 spaceships per pg-->
    <button>add pagination</button>
  </div>
  